
#panel, #nav {
    animation: fadein 16s;
    -webkit-animation: fadein 16s;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    60% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {

    /* /* /* Safari and Chrome  */
    0% {
        opacity: 0;
    }
    60% {
        opacity: 0;
    }

    100% {
        opacity: 1;
   }
} 