@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap');

* {
    /* outline: solid 1px red; */
    color: white;
}

html, body {
    width: 100%;
    height: 100vh;
    margin : 0;
    padding: 0;
    overflow-x: hidden;
    background-color: black;
    border-right: thin solid #ffffff;
}

html::-webkit-scrollbar {
    display: none;
}

video::-webkit-scrollbar {
    display: none;
}

span {
    display: block;
    margin: 0 auto;
    font-size: 30px;
    text-align: center;
}

section {
    width: 60%;
}

video {
    width: 100%;
    height: 99.5vh;
    object-fit: cover;
}

video::-webkit-scrollbar {
    display: none;
}

nav {
    align-items: center;
    display: flex;
    flex-direction: row;
}

li {
    float: left;
    font-size : 16px;
    font-family: 'Noto Sans KR', sans-serif;
    font-style: bold;
    list-style-type: none;
}

a {
    text-decoration: none;
}

button {
    outline: 0;
    border: 0;
}

a:hover, a:focus { animation-duration: 1.5s; animation-name: colorChange;} 
@keyframes colorChange {     
 0% { color: #585858;; }
 100% { color: #ffffff; }
}

a:visited {
    /* a 태그 갔다왔을 때 색깔 black*/
    color: rgb(134, 134, 134);
}

#nav {
    height: 60px;
    display: flex;
    padding: 16px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    align-items: center;
    z-index: 100;
    background-color: black;
    border-bottom: 1px solid #ffffff;
    transition: top 0.3s;
}

.nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 72px;
    /* position: fixed; */
    bottom: 0;
    z-index: 99;
    top: 0;
}

button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.logo {
    width: 63px;
    height: 58px;
    margin: 2% 91% 1% 1%;
    position: absolute;
}

.logo img {
    width: 100%;
}

.nav-list {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    margin: 46px 5.9% 8px 0;
    padding: 0;
    border-right: 1px;
    border-color: white;
}

.nav-item {
    text-align: center;
    height: 100%;
    width: 11%;
    float: left;
    margin-right: 4%;
    color: #585858;
}

/* 세로 구분선 */

.hr-div {
    display: flex;
    width: 1px;
    height: 3000px;
    border-left: 1px solid #ffffff;
}

.hr-div2 {
    display: flex;
    width: 1px;
    height: 3000px;
    border-left: 1px solid #ffffff;
    margin-left: 162px;
}

.nav-right {
    display: block;
    margin: 30px 3% 1% 1%;
    padding: 0;
}

.nav-info {
    width: 100%;
    color: #585858;
}

ul.nav-right > li:nth-child(1) {
    color: #ffffff;
}

.video-box {
    position: relative;
    width: 100%;
    display: block;
    justify-content: center;
    overflow: hidden;
}

.panel {
    margin: 0 auto;
    position: absolute;
    top: 10px;
    width: 78%;
    height: 80%;
    margin-top: 130px;
    z-index: 99;
    margin-left: 10%;
}

.main-text {
    position: absolute;
    top:13.19vh;
    left: 41vw;
}

.name-text {
    font-family: 'Times New Roman', Times, serif;
    font-size: 6.8rem;
    width: 100%;
}

.intro-text {
    width: 70%;
    margin-top: 20px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
    color: #cacaca;
}


.the-text {
    font-family: 'Noto Sans KR', sans-serif;
    margin-top: 65.55vh;
    display: flex;
    justify-content: space-around;
    margin-left: 250px;
    transition: all 0.3 ease;
}

.title {
    width: 190px;
    font-size: 15px;
    font-weight: 400;
}

.content {
    width: 200px;
    font-size: 10px;
    color: #b5b5b5;
    font-weight: 300;
}

.panel2 {
    display: flex;
    margin-top: 200px;
    position: absolute;
    width: 79%;
    height: 80%;
    z-index: 99;
    margin-left: 10%;
    margin-bottom: 100px;
}

.sub-main-text {
    margin-left: 25px;
    margin-top: 30px;
    width: 50%;
    z-index: 50;
    font-style: 'Noto Sans KR', sans-serif;
}

.sub-main-text p {
    font-style: 'Noto Sans KR', sans-serif;
    font-weight: 700;
    font-size: 6rem;
    margin: 0; padding: 0 10px 0 0;
}

.sub-sub-text {
    width: 130%;
    margin-top: 30px;
    margin-left: -120px;
    font-style: 'Noto Sans KR', sans-serif;
}

.sub-content{
    font-weight: 100;
    font-size: 18px;
    margin-left: 8rem;
    width: 54%;
    color: #b5b5b5;
    text-align: left;
}

.sub-img {
    margin-top: -16vh;
    width: 37.51vw;
    margin-left: 74px;
}

.img {
    width: 100%;
}

.f-panel {
    display: flex;
    margin-top: 76vh;
    margin-bottom: 50px;
    position: absolute;
    width: 78%;
    height: 145px;
    z-index: 99;
    margin-left: 10%;
}

.footer {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    margin-top: 200px;
    font-style: 'Noto Sans KR', sans-serif;
}

.section {
    display: block;
    text-align: center;
}

.f-title {
    font-size: 253x;
    font-weight: 400;
}

.f-content {
    font-size: 13px;
    font-style: 'Noto Sans KR', sans-serif;
    font-weight: 100;
}

@media (max-width : 1298.40px) {
    .the-text {
        margin-top: 520px;
    }
    .intro-text {
        font-size: 12px;
    }
}

.hrr {
    position: absolute;
    border: 0.5px solid rgba(255, 255, 255, 0.56);
    filter: brightness(56%);
    height: 717px;
}

.item1 {
    top: -208px;
    left: 947px;
}

.item2 {
    top: -208px;
    left: 668px;
}

.item3{
    top: -208px;
    left: 294px;
    z-index: 49;
}

.last {
    width: 129%;
    height: 1px;
    position: absolute;
    top: 517px;
    background-color: #fff;
    left: -174px;
}

.the-text:hover {
    cursor: #fff;
    color: #fff;
    transition: all 0.3 ease;
}