@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap');

* {
    /* outline: solid 1px red; */
    color: white;
}

html, body {
    width: 100%;
    height: 100vh;
    margin : 0;
    padding: 0;
    overflow-x: hidden;
    background-color: black;
    border-right: thin solid #ffffff;
}

html::-webkit-scrollbar {
    display: none;
}

video::-webkit-scrollbar {
    display: none;
}

span {
    display: block;
    margin: 0 auto;
    font-size: 30px;
    text-align: center;
}

section {
    width: 60%;
}

video {
    width: 100%;
    height: 99.5vh;
    object-fit: cover;
}

video::-webkit-scrollbar {
    display: none;
}

nav {
    align-items: center;
    display: flex;
    flex-direction: row;
}

li {
    float: left;
    font-size : 16px;
    font-family: 'Noto Sans KR', sans-serif;
    font-style: bold;
    list-style-type: none;
}

a {
    text-decoration: none;
}

a:hover, a:focus { animation-duration: 1.5s; animation-name: colorChange;} 
@keyframes colorChange {     
 0% { color: #585858;; }
 100% { color: #ffffff; }
}

a:visited {
    /* a 태그 갔다왔을 때 색깔 black*/
    color: rgb(134, 134, 134);
}

#nav {
    height: 60px;
    display: flex;
    padding: 16px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    align-items: center;
    z-index: 100;
    background-color: black;
    border-bottom: 1px solid #ffffff;
    transition: top 0.3s;
}

.nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 72px;
    /* position: fixed; */
    bottom: 0;
    z-index: 99;
    top: 0;
}

.logo {
    width: 63px;
    height: 58px;
    margin: 2% 91% 1% 1%;
    position: absolute;
}

.logo img {
    width: 100%;
}

.nav-list {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    margin: 46px 5.9% 8px 0;
    padding: 0;
    border-right: 1px;
    border-color: white;
}

.nav-item {
    text-align: center;
    height: 100%;
    width: 11%;
    float: left;
    margin-right: 4%;
    color: #585858;
}

/* 세로 구분선 */

.hr-div {
    display: flex;
    width: 1px;
    height: 3000px;
    border-left: 1px solid #ffffff;
}

.hr-div2 {
    display: flex;
    width: 1px;
    height: 3000px;
    border-left: 1px solid #ffffff;
    margin-left: 162px;
}

.nav-right {
    display: block;
    margin: 30px 3% 1% 1%;
    padding: 0;
}

.nav-info {
    width: 100%;
    color: #585858;
}


ul.nav-right > li:nth-child(2) {
    color: #ffffff;
}

.t {
    position: absolute;
    display: block;
    width: 20%;
    left: 14%;
    top: 15px;
}

.t1 {
    font-size: 13px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: normal;
    color: #585858;
    text-align: start;
    margin-left: 4px;
}

.t2 {
    font-size: 30px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    text-align: start;
}

.f-panel {
    font-family: 'Noto Sans KR', sans-serif;
    justify-content: space-evenly;
    display: flex;
    margin-top: 204px;
    position: absolute;
    width: 80%;
    height: 95.32vh;
    z-index: 99;
    margin-left: 16%;
}

.f-panel2 {
    font-family: 'Noto Sans KR', sans-serif;
    justify-content: space-evenly;
    display: flex;
    margin-top: 800px;
    position: absolute;
    width: 80%;
    height: 95.32vh;
    z-index: 99;
    margin-left: 14%;
}

.p-img {
    width:18.62vw;
    height:18.62vh;
    margin-bottom:2%;
    background-color: white;
}

.f-img {
    width:15.62vw;
    height:18.62vh;
    margin-bottom:2%;
    background-color: white;
}

/* .footer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    gap: 5.98vw;
} */

.footer1 {
    width: 100%;
    display: flex;
    align-items: baseline;
    gap: 8.12vw;
    justify-content: flex-start;
    margin-left: 53px;
    margin-bottom: 50px;
    margin-top: 30px;
}

.section {
    width: 17.27vw;
    display: block;
}

.section:hover {
    cursor: pointer;
}

.f-title {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1.26vh;
}

.f-title2 {
    font-size: 0.9rem;
    font-weight: 400;
    margin-bottom: 1.26vh;
}

.f-content1 {
    color: #585858;
    font-size: 0.8rem;
    font-weight: bold;
}

.f-content2 {
    font-size: 0.8rem;
}

.panel {
    margin: 0 auto;
    position: absolute;
    top: 10px;
    width: 78%;
    height: 1300px;
    margin-top: 130px;
    z-index: 99;
    margin-left: 10%;
}

.arrow {
    z-index: 99;
    font-family: 'Noto Sans KR', sans-serif;
    display: flex;
    position: absolute;
    top: 549px;
    left: 13%;
    align-items: center;
}

.text-arrow:hover {
    cursor: pointer;
}

.img-arrow {
    width: 58px;
    height: 52px;
    cursor: pointer;
}

.text-arrow {
    color: #575757;
    font-size: 20px;
    align-items: center;
    margin-top: 1px;
    margin-left: 10px;
}

.grade {
    position:fixed;
    top : 18%;
    right:4%;
    display : flex;
}

.grade-list {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.project {
    position:relative;
    width:80%;
    height:100vh;
}

/* 움직이는 모션 */
.arrow {text-align: center; margin-top: 20px;}
.img-arrow, .text-arrow {animation: motion 0.5s linear 0s infinite alternate; margin-top: 0px;}
        
@keyframes motion {
	0% {margin-top: 0px;}
	100% {margin-top: 10px;}
}

.person-name {
    font-family: 'Noto Sans KR', sans-serif;
    position: absolute;
    width: 43%;
    left: 5%;
    display: block;
    text-align: start;
    font-size: 45px;
    font-weight: bold;

}

.personal {
    font-family: 'Noto Sans KR', sans-serif;
    position: absolute;
    width: 34%;
    top: 1%;
    left: 55%;
    display: block;
}

.personal-hashtag {
    width: 100%;
    font-size: 24px;
    font-weight: 400;
    text-align: start;
}

.personal-intro {
    width: 104%;
    margin-top: 5px;
    font-size: 13px;
    font-weight: 300;
    text-align: start;
}

.license {
    position: absolute;
    width: 100%;
    top: 118%;
    left: 0;
    display: block;
}

.personal-license {
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: bold;
    text-align: start;
}

.flagship-project {
    position: absolute;
    width: 91%;
    top: 202%;
    left: 0%;
    display: block;
}

.flag-pro {
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: bold;
    text-align: start;
}

.tg  {
    border-collapse:collapse;border-spacing:0;
}

.tg td { 
    font-family: 'Noto Sans KR', sans-serif;
    font-size:10px;
    font-weight: 200;
    overflow:hidden;
    padding: 2px 40px 5px 0;
    word-break:normal;
}

.tg th {
    font-family: 'Noto Sans KR', sans-serif;
    font-size:10px;
    font-weight: 200;
    overflow:hidden;
    padding: 2px 40px 5px 0;
    word-break:normal;
}

.tg .tg-0lax {text-align:left;
    vertical-align:top
}

.skill {
    position: absolute;
    width: 122%;
    top: 309%;
    left: 0%;
    display: block;
}

.sk {
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: bold;
    text-align: start;
}

.flex-wrapper {
    display: flex;
    flex-flow: row nowrap;
  }
  
  .single-chart {
    width: 33%;
    justify-content: space-around ;
  }
  
  .circular-chart {
    display: block;
    margin: 10px 0;
    max-width: 82%;
    max-height: 250px;
  }
  
  .circle-bg {
    fill: none;
    stroke: #eee;
    stroke-width: 3.8;
  }

  .skill-kind1 {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 10px;
    left: 5.7%;
    position: absolute;
  }

  .skill-kind2 {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 10px;
    left: 27.7%;
    position: absolute;
  }

  .skill-kind3 {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 10px;
    left: 46.7%;
    position: absolute;
  }

  .skill-kind4 {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 10px;
    left: 63.7%;
    position: absolute;
  }

  .skill-kind5 {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 10px;
    left: 85.6%;
    position: absolute;
  }
  
  .circle {
    fill: none;
    stroke-width: 2.8;
    stroke-linecap: round;
    animation: progress 1s ease-out forwards;
  }
  
  @keyframes progress {
    0% {
      stroke-dasharray: 0 100;
    }
  }
  
  
  .circular-chart.orange .circle {
    stroke: #FF0000;
  }
  
  .circular-chart.green .circle {
    stroke: #FF0000;
  }
  
  .circular-chart.blue .circle {
    stroke: #FF0000;
  }
  
  .percentage {
    fill: rgb(255, 255, 255);
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 0.5em;
    text-anchor: middle;
  }

.moto {
    position: absolute;
    width: 21%;
    /* margin-top: 28%; */
    left: 13%;
    top: 67%;
}

.personal-moto {
    font-size: 30px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
}

.logo {
    width: 63px;
    height: 58px;
    margin: 2% 91% 1% 1%;
    position: absolute;
}

.logo img {
    width: 100%;
}

.project-page {
    margin-top: 739px;
    margin-left: 46px;
    margin-bottom: -90px;
}