@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap');

* {
    /* outline: solid 1px red; */
    color: white;
}

html, body {
    width: 100%;
    height: auto;
    margin : 0;
    padding: 0;
    overflow-x: hidden;
    background-color: black;
    border-right: thin solid #ffffff;
    /* overflow: hidden; */
}

html::-webkit-scrollbar { /* 스크롤바 안 보이게 */
    display: none;
}

span {
    display: block;
    margin: 0 auto;
    font-size: 30px;
    text-align: center;
}

video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

nav {
    align-items: center;
    display: flex;
    flex-direction: row; /* 가로 나열 */
}

li {
    float: left;
    font-size : 16px;
    font-family: 'Noto Sans KR', sans-serif;
    font-style: bold;
    list-style-type: none;
}

a {
    text-decoration: none; /* 밑줄 제거 */
}

button {
    outline: 0;
    border: 0;
}

/* duration 걸리는 시간, 0% -> 100%로 갈 수록 색이 #585858 -> #fffff로 변함 */
a:hover, a:focus { animation-duration: 1.5s; animation-name: colorChange;} 
@keyframes colorChange {     
 0% { color: #585858;; }
 100% { color: #ffffff; }
}

/* a 태그 갔다왔을 때 색깔*/
a:visited {
    color: rgb(134, 134, 134);
}

#nav {
    height: 60px;
    display: flex;
    padding: 16px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    align-items: center;
    z-index: 100;
    background-color: black;
    border-bottom: 1px solid #ffffff;
    transition: top 0.3s;
}

button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 72px;
    /* position: fixed; */
    bottom: 0;
    z-index: 99;
    top: 0;
}

.logo {
    width: 63px;
    height: 58px;
    margin: 2% 91% 1% 1%;
    position: absolute;
}

.logo img {
    width: 100%;
}

.nav-list {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    margin: 46px 3.9% 8px 0;
    padding: 0;
    border-right: 1px;
    border-color: white;
}

.nav-item {
    text-align: center;
    height: 100%;
    width: 11%;
    float: left;
    margin-right: 4%;
    color: #585858;
}

#nav > nav > ul.nav-list > li:nth-child(2) {
    color: #fff;
}

/* 세로 구분선 */

.hr-div {
    display: flex;
    width: 1px;
    height: 3000px;
    border-left: 1px solid #ffffff;
}

.hr-div2 {
    display: flex;
    width: 1px;
    height: 3000px;
    border-left: 1px solid #ffffff;
    margin-left: 162px;
}

#nav > nav > ul.nav-list > li:nth-child(2) > a {
    color: #fff;
}

.nav-right {
    display: block;
    margin: 20px -0.05% 1% -1%;
}

.nav-info {
    width: 100%;
    color: #585858;
}


/* 멤버 페이지일 때 >>> member 텍스트 흰색*/

ul.nav-right > li:nth-child(2) {
    color: #ffffff;
}

.t {
    position: absolute;
    display: block;
    width: 30%;
    left: 3%;
    top: 20px;
}
.t1 {
    font-size: 0.7rem;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: normal;
    color: #585858;
    text-align: start;
    margin-left: 41%;
}

.t2 {
    top:5px;
    font-size: 2rem;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    position:absolute;
    left: 41%;
}

.main {
    padding-top:  5.68vh;
    text-align: start;
}

.f-panel {
    font-family: 'Noto Sans KR', sans-serif;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 70vw;
    height: 100vh;
    z-index: 99;
    margin-left: auto;
    margin-right: auto;
}

.f-panel2 {
    font-family: 'Noto Sans KR', sans-serif;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 65vw;
    height: 95.32vh;
    z-index: 99;
    margin-top: 4.68vh;
    margin-left: 222px;
    margin-right: auto;
}

.f-img {
    width:15.62vw;
    height:15.62vh;
    margin-bottom:2%;
    background-color: white;
}

/* .footer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    gap: 5.98vw;
} */

.footer1 {
    width: 100%;
    display: flex;
    align-items: baseline;
    gap: 8.12vw;
    justify-content: flex-start;
    margin-left: 53px;
}

.section {
    width: 17.27vw;
    display: block;
}

.section:hover {
    cursor: pointer;
}

.f-title {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1.26vh;
}

.f-title2 {
    font-size: 0.9rem;
    font-weight: 400;
    margin-bottom: 1.26vh;
}

.f-content1 {
    color: #585858;
    font-size: 0.8rem;
    font-weight: bold;
}

.f-content2 {
    font-size: 0.8rem;
}

.panel {
    margin: 0 auto;
    position: absolute;
    top: 72px;
    width: 78%;
    height: 100vh;
    margin-top: 11.32vh;
    z-index: 99;
    margin-left: 10%;
}

.arrow {
    z-index: 99;
    font-family: 'Noto Sans KR', sans-serif;
    display: flex;
    position: absolute;
    left: -2vw;
    align-items: center;
}

.text-arrow:hover {
    cursor: pointer;
}

.img-arrow {
    width: 80px;
    height: auto;
    cursor: pointer;
}

.text-arrow {
    color: #575757;
    font-size: 20px;
    align-items: center;
    margin-top: 1px;
    margin-left: 10px;
}

.grade {
    position:fixed;
    top : 18%;
    right:4%;
    display : flex;
}

.grade-list {
    display: flex;
    flex-direction: column;
}

.grade-list:hover {
    cursor: pointer;
}

.project {
    position:relative;
    width:80%;
    height:100vh;
}

/* 움직이는 모션 */
.arrow {text-align: center; margin-top: 20px;     margin-left: 76px;}
.img-arrow, .text-arrow {animation: motion 0.5s linear 0s infinite alternate; margin-top: 0px;}
        
@keyframes motion {
	0% {margin-top: 0px;}
	100% {margin-top: 10px;}
}

@media screen and (max-width:768px) {
    
}

#panel > div:nth-child(1) > div:nth-child(1) > div.f-img img {
    width: 100%;
}

/* #panel > div:nth-child(1) > div:nth-child(1) > div.f-img {
    background: url("./img/pj1.png") no-repeat;
    background-size: 100% 100%;
} */