@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap');

* {
    outline: solid 1px red;
    color: white;
}

html, body {
    width: 100%;
    height: 800px;
    margin : 0;
    padding: 0;
    overflow-x: hidden;
    background-color: black;
    border-right: thin solid #ffffff;
}

html::-webkit-scrollbar {
    display: none;
}


span {
    display: block;
    margin: 0 auto;
    font-size: 30px;
    text-align: center;
}

video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

nav {
    align-items: center;
    display: flex;
    flex-direction: row;
}

li {
    float: left;
    font-size : 16px;
    font-family: 'Noto Sans KR', sans-serif;
    font-style: bold;
    list-style-type: none;
}

a {
    text-decoration: none;
}

a:hover, a:focus { animation-duration: 1.5s; animation-name: colorChange;} 
@keyframes colorChange {     
 0% { color: #585858;; }
 100% { color: #ffffff; }
}

a:visited {
    /* a 태그 갔다왔을 때 색깔 black*/
    color: rgb(134, 134, 134);
}

#nav {
    height: 60px;
    display: flex;
    padding: 16px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    align-items: center;
    z-index: 100;
    background-color: black;
    border-bottom: 1px solid #ffffff;
    transition: top 0.3s;
}

.nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 72px;
    /* position: fixed; */
    bottom: 0;
    z-index: 99;
    top: 0;
}

.logo {
    width: 80px;
    height: 58px;
    background-color: #ffffff;
    margin: 2% 1% 1% 1%;
}

.nav-list {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    margin: 47px 6% 10px -16px;
    padding: 0;
    border-right: 1px;
    border-color: white;
}

.nav-item {
    text-align: center;
    height: 100%;
    width: 11%;
    float: left;
    margin-right: 4%;
    color: #585858;
}

/* 세로 구분선 */

.hr-div2 {
    display: flex;
    width: 1px;
    height: 1500px;
    border-left: 1px solid #ffffff;
    margin-left: -2px;
}

.hr-div {
    display: flex;
    width: 1px;
    height: 1500px;
    border-left: 1px solid #ffffff;
    margin-right: -11px;
}

.nav-right {
    display: block;
    margin: 30px 1% 1% -11px;
}

.nav-info {
    width: 100%;
    color: #585858;
}

/* 멤버 페이지일 때 >>> member 텍스트 흰색*/

ul.nav-right > li:nth-child(2) {
    color: #ffffff;
}

.t {
    position: absolute;
    display: block;
    width: 30%;
    left: 7%;
    top: 9px;
}

.t1 {
    font-size: 17px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 100;
    color: #585858;
}

.t2 {
    font-size: 33px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
}

.f-panel {
    justify-content: space-evenly;
    display: flex;
    margin-top: 204px;
    position: absolute;
    width: 78%;
    height: 250px;
    z-index: 99;
    margin-left: 10%;
}

.footer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    gap: 80px;
    justify-content: center;
}

.footer1 {
    width: 100%;
    display: flex;
    align-items: baseline;
    flex-direction: column;
    gap: 80px;
    justify-content: flex-start;
    align-items: center
}

.section {
    width: 210px;
    display: block;
    text-align: center;
}

.f-title {
    font-size: 20px;
    font-style: 'Noto Sans KR', sans-serif;
    font-weight: 400;
}

.f-content {
    font-size: 10px;
    font-style: 'Noto Sans KR', sans-serif;
    font-weight: 100;
}

.panel {
    margin: 0 auto;
    position: absolute;
    top: 10px;
    width: 78%;
    height: 80%;
    margin-top: 130px;
    z-index: 99;
    margin-left: 10%;
}

.panel2 {
    display: flex;
    margin-top: 300px;
    position: absolute;
    width: 78%;
    height: 80%;
    z-index: 99;
    margin-left: 10%;
}